<!--Reactive forms -->

 <div class="container">
  <h2>Reactive forms</h2>
  <form [formGroup]="userRegForm">
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName='name' class="form-control">
    </div>
    <div class="form-group">
      <label>email</label>
      <input type="text" formControlName='email' class="form-control">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="text" formControlName='phone' class="form-control">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="text" formControlName='age' class="form-control">
    </div>
    
    <div formGroupName = "address">
      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName='city' class="form-control">
      </div>
      <div class="form-group">
        <label>Pincode</label>
        <input type="text" formControlName='pincode' class="form-control">
      </div>
    </div>
  </form>
  
  <button class="btn btn-primary">ss</button>
</div>
